.main {
    margin-top: 10px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    width: 100%;
    align-content: center;
}


label {
    display: inline-block;
    clear: left;
    text-align: right;
    width: 15%;
}

input, textarea{
    width: 60%;
}

input,
textarea,
button {
    margin-left: 1%;
    display: inline-block;
}

.my-actions {
    text-align: left;
    width: 100%;
}

.my-actions > button{
    width: 60%;
    margin-left: 16.3%;
}

.contact_form{
    margin-top: 40px;
    margin-left: 5%;
}

.main_title {
    text-align: center;
}

.main_description {
    color: white;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
