{% load static %}

{% for ele in music_list %}
<div class="banner">
    <div class="row justify-content upper">
        <div class="count col">
        <p>{{forloop.counter}}</p>
        </div>
        <div class="details col-8">
            <div class="album_image">
                <img src="{{ele.album.images.0.url}}" alt="{{ele.name}}">
            </div> 
        </div>
        <div class="overlay"><a href="{{ele.external_urls.spotify}}"></a></div>        
    </div>
    <div class="name_music">
        <a href="{{ele.external_urls.spotify}}" target="_blank">{{ele.name}}</a>
    </div>    
</div>
{% empty %}
No data
{% endfor %}


