{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>
        {% block title %}
        Error Title
        {% endblock %}
    </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'home_app/images/favicon.ico' %}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=K2D&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home_app/css/style.css' %}">
    {% block css %}
    {% endblock css %}
    {% block js %}
    {% endblock js %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-custom">
        <a class="navbar-brand" href="/">
            FQA WebSite
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#my_navbar" aria-controls="my_navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="my_navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Repositories:repositories' %}">Repositories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Spotify:spotify' %}">Spotify</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Contact:email' %}">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0" id="search-box">
                <input class="form-control" type="text" placeholder="Search">
            </form>
        </div>
    </nav>
    {% block body %}
    {% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="row justify-content-md-center social">
                <div class="col-sm col-md-auto">
                    <a target="_blank" href="https://github.com/FreqAbsoluto">
                        <div class="icon_footer">
                            <i class="fab fa-github fa-lg"></i>
                        </div>
                    </a>
                </div>
                <div class="col-sm col-md-auto">
                    <a target="_blank" href="https://www.linkedin.com/in/otavioalmeida">
                        <div class="icon_footer">
                            <i class="fab fa-linkedin fa-lg"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="copyright_text">
                <p style="margin:0;">I made this with love 💗 I hope that you like it 😆</p>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{% static 'home_app/js/scripts.js' %}"></script>
    {% block js_down %}
    {% endblock js_down %}
</body>

</html>
