{% extends 'home_app/base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="main_home">
    <div class="container my_content">
        <h1 class="home_title">Olá Viajante! 😁</h1>
        <div class="presentation">
        <p>Meu nome é Otávio Almeida, tenho 18 anos.</p>
        <p>Estou cursando Ciências da Computação pela Universidade Estadual de Santa Catarina.</p>
        <p>Eu desenvolvi este site para treinar minhas habilidades de desenvolvimento, espero que você goste 💕.</p>
        </div>
    </div>
</div>
{% endblock body %}

{% block css %}
<link rel="stylesheet" href="{% static 'home_app/css/home_style.css' %}">
{% endblock css %}
