.loader {
    border: 8px solid lightgray; /* Light grey */
    border-top: 8px solid black; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    animation: spin 2s linear infinite  ;
}
.main{
    font-family: 'K2D', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: white;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#repos{
    padding-left: 1%;
    padding-top: 15px;
    padding-right: 1%;
}

.main_title{
    text-align: center;
    background: white;
}

.my_panel_group{
    margin-bottom: 2%;
    border: 1px solid black;
    border-radius: 32px;
}

.my_panel{
    margin: 1.5%;
    padding: 1%;
}

.my_title{
    font-size: 35px;
    color: black;
}

.language{
    font-size: 17px;
    text-decoration: underline;
}

.my_description{
    font-size: 25px;
    margin: 1px;
}

.my_footer{
    text-align: left;
    color: black;
}

a:hover{
    color: deeppink;
}

.creation{
    float: right;
}
