{% extends 'home_app/base.html' %}

{% load static %}

{% block title %}
Repositórios
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'repositories_app/css/style.css' %}">
{% endblock css %}

{% block body %}
<div class="main">
    <h1 class="main_title">Repositórios</h1>
    <h5 class="main_description">
        Aqui estão todos os meus repositórios que eu desenvolvi ao longos dos últimos 2 anos.<br>
        Pelo menos os maiores😬
    </h5>
    <div class="container">
        <div class="repos" id="repos">
            <div class="loader">
                <script>
                    show_repositories();
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'repositories_app/js/github_request.js' %}"></script>
{% endblock %}